<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fresh Pick</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    
  </head>

  <body>
    <div class="screen-overlay"></div>
    <%- include("../layouts/adminSidebar.ejs") %>
    <main class="main-wrap">
      <%- include("../layouts/adminNavbar.ejs") %>
      <section class="content-main">
        <div class="content-header">
          <h2 class="content-title">Coupon</h2>
          <div>
            <a href="/admin/addCoupon" class="btn btn-primary btn-sm rounded">Create new</a>
          </div>
        </div>
        
        <div class="card mb-4">
      
          <!-- card-header end// -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" id="userTable">
                <thead>
                  <tr>
                    <th class="pl-3">Title</th>
                    <th>Coupon Code</th>
                    <th>Discount</th>
                    <th>Minimum Amount</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (coupons.length > 0) {
                    coupons.forEach((coupon) => { %>
                      <tr>
                        <td class="pl-3">
                          <h6><%= coupon.title %></h6>
                        </td>
                        <td><%= coupon.couponCode %></td>
                        <td><%= coupon.discountAmount %></td>
                        <td><%= coupon.minAmount %></td>
                        <td><%= coupon.expiryDate.toISOString().substring(0, 10) %></td>
                        <td>
                          <% if (coupon.status === "Expired") { %>
                            <span class="badge rounded-pill alert-danger"><%= coupon.status %></span>
                          <% } else { %>
                            <span class="badge rounded-pill alert-success"><%= coupon.status %></span>
                          <% } %>
                        </td>
                        <td class="text-end">
                          <a onclick="return confirm('Are you sure you want to delete?')" href="/admin/deleteCoupon?id=<%= coupon._id %>" class="btn btn-sm btn-danger rounded font-sm mt-15">delete</a>
                          <% if (coupon.status !== "Expired") { %>
                            <a href="/admin/editCoupon?id=<%= coupon._id %>" class="btn btn-sm btn-danger rounded font-sm mt-15">edit</a>
                          <% } %>
                        </td>
                      </tr>
                    <% });
                  } else { %>
                    <tr>
                      <td colspan="7" class="text-center">No coupons found</td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              
              <!-- table-responsive.// -->
            </div>
          </div>
          <!-- card-body end// -->
        </div>
        <!-- card end// -->
      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            &copy; Nest - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
    ></script>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
  </body>
</html>
