<%- include("../layouts/header.ejs") %>
<style>
  .empty-cart {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px;
 }
 
 .empty-cart-content {
   text-align: center;
 }
 
 .empty-cart-content h3 {
   font-size: 24px;
   color: #333;
   margin-bottom: 10px;
 }
 
 .empty-cart-content p {
   font-size: 18px;
   color: #666;
   margin-bottom: 20px;
 }
 
 .empty-cart-content .btn {
   font-size: 16px;
 }
 
 
 </style>
<%- include("../layouts/userNav.ejs") %>
    <!-- END nav -->

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="cart-list">
              <% if(userCart.length > 0){ %>
              <table class="table" id="tableCart">
                <thead class="thead-primary">
                  <tr class="text-center">
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <% userCart.forEach((product) => { %>
                      <tr id="deleteId-<%= product._id %>" class="text-center">
                        <td class="product-remove"><a href="" onclick="deleteHandleCart('<%=product._id%>')"><span class="ion-ios-close"></span></a></td>
                        <td class="image-prod">
                            <% if (product.productId.image.length > 0) { %>
                              <div class="border" style="display: inline-block;">
                                <img src="/productImages/resized/<%= product.productId.image[0] %>" alt="Product Image" class="img-fluid img">
                              </div>
                            <% } %>
                        </td>
                        <td class="product-name">
                          <h3><%= product.productId.title  %></h3>
                          <p><%= product.productId.description  %></p>
                        </td>
                        <td class="price"><i class="fas fa-rupee-sign"></i> <%= product.productId.price %>/kg</td>
                        <td class="quantity">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-secondary minus-btn" type="button" onclick="handleMinusButtonClick('<%= product.productId._id %>')">-</button>
                            </div>
                            <input type="text" name="quantity" class="form-control text-center quantity-input" value="<%= product.quantity %>" min="1" max="<%= product.productId.quantity %>" data-product="<%= product.productId._id %>" data-price="<%= product.productId.price %>" data-stock-quantity="<%= product.productId.quantity %>">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary plus-btn" type="button" onclick="handlePlusButtonClick('<%= product.productId._id %>')">+</button>
                            </div>
                          </div>
                        </td>
                        <td class="total" data-product="<%= product.productId._id %>"><span>₹</span><%= (product.productId.price * product.quantity).toFixed(2) %></td>
                      </tr>
                    <% }) %>    
                </tbody>
              </table>
              <% }else{ %>
                <div class="empty-cart" id="empty-cart">
                  <div class="empty-cart-content">
                    <h3>Your Cart is Empty</h3>
                    <p>Start exploring our products and add items to your Cart!</p>
                    <a href="/shop" class="btn btn-primary">Browse Products</a>
                  </div>
                </div>
              <% } %>
              <div class="empty-cart" id="empty-carts" style="display: none;">
                <div class="empty-cart-content">
                  <h3>Your Cart is Empty</h3>
                  <p>Start exploring our products and add items to your Cart!</p>
                  <a href="/shop" class="btn btn-primary">Browse Products</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if(userCart.length>0){ %>
          <div class="row justify-content-end" id="checkoutRemove">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
              <div class="cart-total mb-3">
                <h3>Cart Totals</h3>
                <p class="d-flex total-price">
                  <span>Total</span>
                 <b>₹</b><span id="grandTotal"> <%= userData.grandTotal  %></span>
                </p>
              </div>
              <p><a href="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
          </div>
        <% } %>
    		
			</div>
		</section>

		<%- include("../layouts/userFooter.ejs") %>
    
  

  <!-- loader -->
    

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    <!-- Include Axios library -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  // Function to update the total dynamically based on quantity
  const updateTotal = (productId,reduce) => {
    const inputElement = document.querySelector(`input[name="quantity"][data-product="${productId}"]`);
    const quantity = parseInt(inputElement.value);
    const price = parseFloat(inputElement.getAttribute('data-price'));
    const totalElement = document.querySelector(`.total[data-product="${productId}"]`);
    totalElement.textContent = (price * quantity).toFixed(2);
    const total =document.getElementById("grandTotal").innerHTML
    if(reduce)
    document.getElementById("grandTotal").innerHTML= +total -price 
    else
    document.getElementById("grandTotal").innerHTML= +total + +price 
  };

  // Plus button click event
  const handlePlusButtonClick = async (productId) => {
    const inputElement = document.querySelector(`input[name="quantity"][data-product="${productId}"]`);
    const quantity = parseInt(inputElement.value) + 1;
    const stockQuantity = parseInt(inputElement.getAttribute('data-stock-quantity'));

    if (quantity > stockQuantity) {
    // Display the error message using SweetAlert
    swal("Quantity exceeds stock quantity.");
    return;
  }
    
    // Update quantity in the input field
    inputElement.value = quantity;

    // Update total dynamically
    updateTotal(productId);
    const grandTotal =document.getElementById("grandTotal").innerHTML
    // Update quantity in the database
    try {
      await axios.patch(`/updateCart/${productId}`, { quantity ,grandTotal});
    } catch (error) {
      console.log(error);
    }
  };

  // Minus button click event
  const handleMinusButtonClick = async (productId) => {
    const inputElement = document.querySelector(`input[name="quantity"][data-product="${productId}"]`);
    const quantity = parseInt(inputElement.value) - 1;

    // Make sure the quantity is not less than 1
    if (quantity < 1) {
      return;
    }

    // Update quantity in the input field
    inputElement.value = quantity;

    // Update total dynamically
    updateTotal(productId,"reduce");
    const grandTotal =document.getElementById("grandTotal").innerHTML
    // Update quantity in the database

    try {
      await axios.patch(`/updateCart/${productId}`, { quantity ,grandTotal});
    } catch (error) {
      console.log(error);
    }
  };

  // Input event for quantity change
  const handleQuantityInputChange = (event) => {
    const inputElement = event.target;
    const productId = inputElement.getAttribute('data-product');

    // Update total dynamically
    updateTotal(productId);
  };

  // Attach input event listener to quantity inputs
  const quantityInputs = document.querySelectorAll('input[name="quantity"]');
  quantityInputs.forEach((inputElement) => {
    inputElement.addEventListener('input', handleQuantityInputChange);
  });

  const deleteHandleCart = async (cartId)=>{
    try {
      event.preventDefault()
      swal({
            title: "Delete cart product",
            text: "Are you sure you want to delete?",
            icon: "warning",
            buttons: ["Cancel", "OK"],
            dangerMode: true,
          }).then(async (willDelete) => {
            if (willDelete) {
              // User clicked "OK" button, perform the delete action
              const deleteItem = await axios.put('/deleteCart',{cartId})
              const {cart} = deleteItem.data
              console.log(cart);
              if(deleteItem.data.success){
              const elementToRemove = document.getElementById(`deleteId-${cartId}`);
              elementToRemove.parentNode.removeChild(elementToRemove);
          
              const updatedGrandTotal = deleteItem.data.grandTotal;
              const grandTotalElement = document.getElementById('grandTotal')
              grandTotalElement.textContent = updatedGrandTotal
              }
              if(cart === 0){
                const removeCheckout = document.getElementById(`checkoutRemove`);
                removeCheckout.parentNode.removeChild(removeCheckout);
                document.getElementById("tableCart").style.display="none"
                document.getElementById("empty-carts").style.display="block"

                document.getElementById("cartCount").innerHTML=`<span class="icon-shopping_cart" ></span>${cart}`
              }
              if(cart){
                  document.getElementById("cartCount").innerHTML=`<span class="icon-shopping_cart" ></span>${cart}`
              }
            }
          });
    } catch (error) {
      console.log(error.message);
    }
  }
  
</script>

  
    
  </body>
</html>