<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>


<div class="container mt-4 mb-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Enter Your Email Address</h3>
          <% if(typeof errMessage !== 'undefined'){ %>
            <p style="color: #f44336; margin-top: -10px"><%= errMessage %></p>
            <% } %>
          <form id="emailForm" action="/forgetPassword" method="post">
            <div class="form-group">
              <label for="emailInput">Email Address</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email address" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../layouts/userFooter.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
   const emailInput = document.getElementById("email");
  emailInput.addEventListener("input", () => {
    let email = emailInput.value.trim();
    if (email === "") {
      emailInput.setCustomValidity("Email cannot be null");
    } else {
      emailInput.setCustomValidity("");
    }
  });
</script>
<%- include("../layouts/footer.ejs") %>