<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>
<!-- END nav -->
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Reset Password</h3>
            <form action="/resetPassword" method="post">
              <div  class="form-group">
                <% if(typeof errMessage !== 'undefined'){ %>
                  <p style="color: #f44336; margin-top: -10px"><%= errMessage %></p>
                  <% } %>
                <label for="password">Old Password</label>
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" required>
              </div>
              <div  class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Reset Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("../layouts/userFooter.ejs") %>

<script>
    const oldPasswordInput = document.getElementById("oldPassword");

    oldPasswordInput.addEventListener("input", () => {
  const password = oldPasswordInput.value.trim();

  if (password.length < 6) {
    oldPasswordInput.setCustomValidity("Password is less than 6");
  } else {
    oldPasswordInput.setCustomValidity("");
  }
});
   const passwordInput = document.getElementById("password");

passwordInput.addEventListener("input", () => {
  const password = passwordInput.value.trim();

  if (password.length < 6) {
    passwordInput.setCustomValidity("Password is less than 6");
  } else {
    passwordInput.setCustomValidity("");
  }
});

const cpasswordInput = document.getElementById("confirmPassword");
const ogPasswordInput = document.getElementById("password");

cpasswordInput.addEventListener("input", () => {
  const cpassword = cpasswordInput.value.trim();
  const password = ogPasswordInput.value.trim();

  if (cpassword !== password) {
    cpasswordInput.setCustomValidity("Password doesn't match");
  } else {
    cpasswordInput.setCustomValidity("");
  }
});
</script>
<script>
  function showMessage(){
    alert('Password successfully reset')
  }
</script>

<%- include("../layouts/footer.ejs") %>

